/* TYPOGRAPHY */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 34px; }

h3 {
  color: #5FB97D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px; }

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px; }

a {
  color: #5FB97D; }
  a:hover {
    text-decoration: underline;
    color: #5FB97D; }

label {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.form-control {
  border: 1px solid #D75014;
  background-color: transparent;
  color: #f2f2f2 !important; }
  .form-control:focus {
    background-color: transparent;
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); }

.icon {
  width: 55px;
  height: 55px;
  background-color: #D75014;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: flex; }

.twitter-widget {
  padding: 50px; }

.btn-bordered {
  margin-top: 10px;
  border-radius: 2px; }

.product-promo {
  padding-top: 50px; }

.jumbotron {
  border-radius: 2px; }

/* HELPER CLASSES*/
#header {
  padding-top: 180px;
  padding-bottom: 80px; }

#header-company {
  padding-bottom: 100px; }

@media (max-width: 576px) {
  h1 {
    font-size: 26px; }
  p {
    font-size: 15px; }
  h2 {
    font-size: 24px;
    text-align: center; }
  .lead {
    font-size: 16px;
    text-align: center; }
  .btn-demo {
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 2px; }
  .contact-info {
    padding-bottom: 35px; }
  .twitter-widget {
    padding: 0px; }
  .button-center-mobile {
    display: flex;
    justify-content: center; }
  #header {
    padding-top: 50px;
    padding-bottom: 20px; }
  #features .intro-screen {
    margin-bottom: -80px;
    margin-left: 40px;
    margin-top: 0px; }
  #features .features-two {
    margin-top: 0px; } }

#testimonials {
  padding-top: 80px;
  padding-bottom: 80px; }

#features {
  padding-bottom: 50px; }
  #features .features-intro {
    margin-bottom: 35px; }
  #features .features-content {
    margin-bottom: 50px; }
  #features .features-two {
    margin-top: 30px; }

@media (max-width: 576px) {
  .bcg-wrap {
    background: url(../assets/bcg2.png) right top no-repeat;
    background-color: #323236; } }

.bcg-wrap {
  background: url(../assets/bcg1.png) no-repeat left top, url(../assets/bcg2.png) right top no-repeat;
  background-size: 600px;
  background-color: #323236; }

@media (max-width: 576px) {
  .bcg-wrap {
    background: url(../assets/bcg2.png) right top no-repeat;
    background-color: #323236; } }

.bcg-wrap-logo {
  background: url(../assets/bcg2.png) right top no-repeat;
  background-size: 600px;
  background-color: #323236; }

.btn-demo {
  background-color: #D75014;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 7px 15px 7px 15px;
  border-radius: 2px; }
  .btn-demo:hover {
    color: #D75014;
    background-color: transparent;
    border: 1px solid #D75014;
    transition: all 0.1s ease-in; }

.btn-bordered {
  background-color: transparent;
  border: 1px solid #D75014;
  color: #D75014;
  font-weight: 700;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 7px 15px 7px 15px; }
  .btn-bordered a {
    color: white; }

#posts {
  padding-top: 50px;
  padding-bottom: 50px; }

.bg-light {
  background-color: white; }

.bg-darks {
  background-color: #323236; }

.bg-highlight {
  background-color: #5FB97D; }

.highlight-color {
  color: #5FB97D; }

.highlight-secondary {
  color: #D75014; }

section {
  padding-top: 100px; }

.bigger-padding {
  padding: 150xp 0px 150px 0px; }

.form-subscribe {
  border: 1px solid #D75014;
  background-color: transparent;
  padding: 6px 100px 6px 100px;
  border-radius: 2px; }

hr {
  border: 0;
  border-top: 1px solid white;
  padding-bottom: 35px !important; }

/* COMPONENTS */
.navbar-white .navbar-nav .nav-link {
  color: white; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(116,116,116, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #747474; }

.navbar {
  padding-top: 35px;
  padding-bottom: 35px; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 15px; }
    .navbar .nav-link:hover {
      color: #5FB97D; }

.active {
  color: #5FB97D !important; }

.dropdown .dropdown-item:active {
  background: #D75014 !important; }

.partner-logo {
  width: 80%; }

.demo-btn-nav {
  border-radius: 2px;
  background-color: #5FB97D;
  border: 1px solid #5FB97D; }
  .demo-btn-nav:hover {
    border: 1px solid #5FB97D;
    background: transparent;
    color: #5FB97D !important;
    transition: all 0.1s ease-in; }

.intro-screen {
  height: 500px;
  margin-bottom: -300px;
  margin-top: -60px;
  margin-left: 100px; }

.card {
  border-radius: 2px; }
  .card .blog-item {
    height: 400px; }

.btn-blog {
  background-color: #D75014;
  font-weight: 700;
  border-radius: 2px;
  text-transform: uppercase; }
  .btn-blog a {
    color: white; }

.strong-auth row {
  padding-top: 35px; }

.accolades .row {
  padding-bottom: 35px; }

.accolades .col-md-6 {
  padding: 25px; }

.accolades .media {
  color: white; }
  .accolades .media img {
    width: 180px; }

.media-img {
  width: 100%; }

.media-featured {
  margin-bottom: 50px; }

.media-card {
  height: 480px; }

#testimonials {
  background-color: #F5F6F8; }
  #testimonials .testimonial-card {
    background-color: transparent;
    border: none; }
    #testimonials .testimonial-card .card-body {
      border: 1px #ECECEC solid;
      background-color: white;
      height: 180px; }
    #testimonials .testimonial-card .card-footer {
      border: none;
      background: transparent; }

#featured-article {
  margin-top: 100px;
  padding-bottom: 30px; }

.blog-archive {
  display: flex;
  flex-direction: column;
  align-items: center; }

.ref-img {
  padding: 25px;
  width: 80%; }

@media (max-width: 576px) {
  .blog-archive {
    display: flex;
    flex-direction: column;
    align-items: flex-start; } }

.card-img-right {
  height: 200px;
  border-radius: 0 2px 2px 0;
  width: 300px;
  display: flex;
  align-self: center; }

#recent-article {
  margin-top: 35px;
  padding-bottom: 30px; }
  #recent-article .card {
    height: 202px; }

@media (max-width: 576px) {
  #recent-article {
    margin-top: 35px;
    padding-bottom: 30px; }
    #recent-article .card {
      height: auto; } }

#newsletter {
  background-color: #323236; }

.latest-blog {
  background-color: #F5F6F8;
  border: 1px #ECECEC solid;
  height: 477px; }
  .latest-blog .card-header {
    border-bottom: 1px solid #E2E2E2;
    background-color: transparent; }
    .latest-blog .card-header a {
      color: #747474; }
  .latest-blog .card-title {
    color: #5FB97D;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; }
  .latest-blog .card-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #747474; }
  .latest-blog .card-footer {
    text-transform: capitalize;
    background-color: #323236;
    border: 1px solid #323236;
    color: white; }
    .latest-blog .card-footer:hover {
      background-color: transparent;
      border: 1px solid #323236;
      color: #323236;
      text-decoration: none;
      transition: all 0.1s ease-in; }

/* IMG HOVER */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #323236; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
  color: #fff;
  text-transform: uppercase; }

.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin: 25px 0 0 0;
  background-color: transparent; }

.hovereffect p.info,
.hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0); }

.hovereffect:hover p.info,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/* RESPONSIVE GOOGLE MAPS */
.map-responsive {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 50px;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

@media (max-width: 576px) {
  .map-responsive {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; } }

/* BLOG ARTICLE */
.blog-article-heading {
  padding-top: 50px;
  padding-bottom: 80px; }
  .blog-article-heading h2 {
    color: white; }
  .blog-article-heading a {
    color: #5FB97D; }

.blog-article-content {
  padding-top: 50px;
  padding-bottom: 80px; }
